{% if settings.display_language %}
<!-- language start -->
<div class="language-theme {{ align }}">
  <button class="btn btn-primary dropdown-toggle" type="button">{{ settings.default_language }}
    <i class="fa fa-angle-down"></i></button>
  <ul class="dropdown-menu dropdown-content">
    {% for link in linklists[settings.linklist_language].links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<!-- language end -->
{% endif %}